html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", Arial, Helvetica, sans-serif;
  color: #404E4D;
  font-weight: 400;
  height: 100%;
}

header {
  display: flex;
  width: 100%;
  max-width: 430px;
  margin: 120px auto;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  display: block;
  margin: 0 0 2px;
  padding: 0;
  font-size: 1.6em;
  font-weight: 700;
}

header h2 {
  display: block;
  margin: 0 0 14px;
  padding: 0;
  color: #A6ACB3;
  font-size: 1.1em;
  font-weight: 300;
}

header .left,
header .right {
  display: inline-block;
}

.avatar {
  display: inline-block;
  margin: 4px 20px 0 0;
  width: 90px;
  height: 90px;
  background: url(../img/me.jpg) 0px center;
  background-size: 100px 100px;
  border-radius: 45px;
}

header .btn {
  display: inline-block;
  margin: 0 3px 0 0;
  padding: 3px 8px;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3px;
}

#linkedin {
  background: #4A8CFF;
}
#email {
  padding: 2px 8px 3px;
  color: #777;
  border: solid 1px #aaa;
  box-sizing: border-box;
}
#github {
  background: #24292e;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 0 80px;
  width: 960px;
  overflow: visible;
}

.projects {
  padding: 10px 0 0;
  overflow: visible;
}

.project {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0 20px 100px 0;
  padding: 15px;
  box-sizing: border-box;
}

.project-img-wrapper {
  position: relative;
  width: 480px;
  height: 346px;
  padding: 26px 0 0;
  background: #fafafa;
  box-shadow: 0 2px 4px 1px #e0e0e0;
  border-radius: 5px;
  box-sizing: border-box;
}

.project-img-btns {
  position: absolute;
  top: 1px;
  left: 10px;
}
.project-img-btns .btn {
  display: inline-block;
  margin: 0 3px 0 0;
  width: 8px;
  height: 8px;
  background: #000;
  border-radius: 4px;
}

.project-img-btns .btn-1 {
  background: #FC3D39;
}
.project-img-btns .btn-2 {
  background: #FECB2F;
}
.project-img-btns .btn-3 {
  background: #68D845;
}

.project-img {
  width: 480px;
  height: 320px;
  background-size: 480px auto;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-content {
  padding: 0 30px 30px;
}
.project-content h4 {
  margin: 12px 0 10px;
  font-size: 1.1em;
  font-weight: 700;
}
.project-link,
.project-link:active {
  display: inline-block;
  margin: 0 0 14px;
  color: #4A8CFF;
  font-size: 0.9em;
  border-bottom: solid 1px #4A8CFF;
  text-decoration: none;
}
.project-description {
  margin: 0 0 12px;
  padding: 0;
  line-height: 1.6em;
  font-weight: 300;
}
.project-tech span,
.project-role span {
  display: inline-block;
  margin: 0 2px 6px 0;
  padding: 2px 6px 3px;
  font-weight: 300;
  font-size: 0.8em;
  background: #f5f5f5;
  border-radius: 3px;
}
.project-tech,
.project-role {
  display: block;
}
.project-tech p,
.project-role p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 700;
}
.project-tech span {
}
.project-role span {

}

#pactly .project-img {
  background-image: url(../img/pactly.png);
}
#sjr .project-img {
  background-image: url(../img/sjr.png);
}
#ulytics .project-img {
  background-image: url(../img/umg.png);
}
#cfl .project-img {
  background-image: url(../img/cfl.png);
}
#oka .project-img {
  background-image: url(../img/1kangels.png);
}
#hyperform .project-img {
  background-image: url(../img/hyperform.png);
}
#growfighters .project-img {
  background-image: url(../img/growfighters.png);
}
#quibly .project-img {
  background-image: url(../img/quibly.png);
}
#easynube .project-img {
  background-image: url(../img/easynube.png);
}
#lingojump .project-img {
  background-image: url(../img/lingojump.png);
}
#gmatanalytics .project-img {
  background-image: url(../img/gmatanalytics.png);
}

@media screen and (max-width: 960px) {
  html, body {
    margin: 0;
  }

  .container {
    width: 100%;
  }
  header {
    display: block;
    max-width: 100%;
    text-align: center;
  }
  header .left,
  header .right {
    display: block;
  }
  header h1 {
    font-size: 1.5em;
  }
  header h2 {
    font-size: 1.1em;
  }
  .avatar {
    margin: 0 0 20px;
  }
  .content {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .project {
    display: block;
    margin-bottom: 80px;
    width: 100%;
  }
  .project-img-wrapper,
  .project-img,
  .project-content {
    width: 100%;
    margin: 0;
  }
  .project-img-wrapper {
    height: 250px;
  }
  .project-img {
    height: 224px;
    background-size: 100% auto;
  }
  .project-content {
    padding: 20px 10px 0;
  }

}